
.header{
    color: #fff;
    display: inline-block;
    width: 100%;
    border-bottom: 5px solid #04d9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.title{
    font-size: 48px;
    color: #FF10F0;
    font-family: 'Press Start 2p';
    text-shadow: -1px 0 #04d9ff, 0 1px #04d9ff, 1px 0 #04d9ff, 0 -1px #04d9ff;
}

.link{
    text-decoration: none;
}

.treeIcon{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #04d9ff;
    margin-right: 30px;
}

.treeListIcon{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 3px solid #04d9ff;
}

.infoIcon{
    font-size: 48px;
    margin-right: 30px;
    background-color: #FF10F0;
    border-radius: 50%;
}

.analyticsIcon{
    font-size: 48px;
    color: #04d9ff;
}

.analyticsListIcon{
    font-size: 28px;
    color: #04d9ff;
}

.modal{
    color: white;
    background-color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center; 
    border: 5px solid #FF10F0;
    font-family: 'Press Start 2p';
    cursor: pointer;
}

.rulesList{
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
    display: inline-block;
    margin: auto;
}

.ruleItems{
    margin-bottom: 10px;
    line-height: 30px;
    margin-left: 10px;
}

.instructions{
    padding-top: 20px;
    color: #04d9ff;
}