.username{
    background-color: black;
}

.userForm{
    display: flex;
    flex-direction: column;
}

.userForm label{
    color: #fff;
    font-size: 24px;
    font-family: 'Press Start 2p';
    margin-bottom: 30px;
    color: #FF10F0;
    text-shadow: -1px 0 #04d9ff, 0 1px #04d9ff, 1px 0 #04d9ff, 0 -1px #04d9ff;
}

.userForm input{
    width: 20%;
    height: 50px;
    margin: 0 auto;
    font-size: 24px;
    color:#FF10F0;
    font-family: 'Press Start 2p';
    border: 5px solid #04d9ff;
}

.userForm input:focus{
    outline: none;
}

.userForm button{
    width: fit-content;
    font-size: 30px;
    padding: 10px 40px;
    margin: auto;
    margin-top: 30px;
    color: #FF10F0;
    font-family: 'Press Start 2p';
    border: 6px solid #04d9ff;
    cursor: pointer;
}


.scroll {
    position: relative;
    width: 100vw;
    height: 15%;
    min-height: 150px;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
  
.m-scroll {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 90s infinite linear;
    display: inline-block;
  }
  
  span {
    font-size: 36px;
    display: inline-block;
    margin: 0;
    margin-right: 50px;
    color: white;
    vertical-align: middle;
  }

  span:first-of-type{
    margin-left: 300px;
  }
  
  .gatorIcon{
    height: 40px;
    border-radius: 50%;
    border: 3px solid #FF10F0;
    vertical-align: middle;
}

  /* .blueU{
    border-bottom: 1px solid #04d9ff;
  } */
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-94%);
    }
  }
